In [31]:
import pandas as pd
import numpy as np

In [21]:
bacterialData = pd.read_csv("/Users/keerthyrangan/Downloads/bacteria(Sheet1).csv", encoding = "latin-1")
bacterialData

/var/folders/l4/kpydl4ws7zd8nz43jqjhct5r0000gn/T/ipykernel_24549/2602944678.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  bacterialData = pd.read_csv("/Users/keerthyrangan/Downloads/bacteria(Sheet1).csv", encoding = "latin-1")

,EventID,EventDate,GroupID,GroupName,SiteID,SiteName,site_latitude,site_longitude,site_altitude,bact_detail_rid,...,hold_end_datetime,min_temp,max_temp,three_M_plate,ecoli_idexx,fecal_coliform,ecoli_other,ecoli_other_unit,comments,warnings
0,770,3/18/96 12:00 PM,245,Salem High School,141,Snapping Shoals,33.5936,-83.9852,228.927612,1753,...,NaN,NaN,NaN,1,NaN,310.0,NaN,NaN,NaN,NaN
1,763,5/14/96 12:00 PM,245,Salem High School,141,Snapping Shoals,33.5936,-83.9852,228.927612,1751,...,NaN,NaN,NaN,1,NaN,2750.0,NaN,NaN,NaN,NaN
2,653,3/23/98 12:00 PM,208,"Waterford Place Condominium Assoc., Inc.",129,Poplar Creek,33.8976,-84.4759,274.621826,18335,...,NaN,NaN,NaN,1,NaN,-25.0,NaN,NaN,NaN,NaN
3,655,3/24/98 12:00 PM,208,"Waterford Place Condominium Assoc., Inc.",129,Poplar Creek,33.8976,-84.4759,274.621826,17691,...,NaN,NaN,NaN,1,NaN,150.0,NaN,NaN,NaN,NaN
4,657,3/25/98 12:00 PM,208,"Waterford Place Condominium Assoc., Inc.",129,Poplar Creek,33.8976,-84.4759,274.621826,17692,...,NaN,NaN,NaN,1,NaN,50.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46315,99134,12/25/22 4:30 PM,2753,Gram's Collins Gals,5482,Creek between Chimney Springs and Creekstone Way,34.0078,-84.4114,272.980000,49847,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
46316,99140,12/26/22 10:25 AM,1906,Satilla Riverkeeper & Friends,7388,Hacklebarney Creek,31.2720,-82.3131,41.700000,49853,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
46317,99141,12/26/22 10:55 AM,1906,Satilla Riverkeeper & Friends,3431,Jamestown Landing,31.2983,-82.3924,29.910000,49854,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
46318,99135,12/26/22 1:15 PM,3028,SCFP Stream Team,7364,Cambarus Creek,34.1485,-84.0427,339.140000,49848,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
46319,99136,12/26/22 4:28 PM,1461,Keep Smyrna Beautiful Adopt-A-Stream (KSBAAS),7363,Poplar Creek,33.8769,-84.4991,296.780000,49849,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
variables_to_keep = ["EventDate","GroupName","SiteName","SiteID","site_latitude","site_longitude","site_altitude","colony_avg"]
bacterialData = bacterialData[variables_to_keep]
bacterialNew = bacterialData.dropna()

bacterialNew

,EventDate,GroupName,SiteName,SiteID,site_latitude,site_longitude,site_altitude,colony_avg
29,12/15/03 10:07 AM,Knowles Landing,Whitewater Creek,2831,32.3791,-84.1845,103.932671,500
121,11/15/08 10:00 AM,UOWN,Orange Trail Creek,475,33.9015,-83.3797,172.007858,310
124,1/25/09 1:30 PM,Highlands at Wesley Chapel at Sweat Creek,Tributary of Willeo Creek at Sweat Creek,1177,34.0479,-84.4394,304.533356,0
125,1/25/09 4:15 PM,Leigh Lyjak,Trib of Little Noonday Creek,925,34.0258,-84.5086,297.500031,67
127,2/8/09 12:53 PM,Belwood,Allatoona Creek,1196,33.9692,-84.6851,282.443573,0
...,...,...,...,...,...,...,...,...
46296,12/19/22 2:53 PM,Friends of Peachtree Hills Park,Peachtree Hills Park,2033,33.8180,-84.3783,256.479279,300
46298,12/20/22 10:10 AM,Upper Chattahoochee Trout Unlimited,Ball Mill Creek,2368,33.9787,-84.3208,268.422729,133
46304,12/20/22 1:30 PM,WWALS_Watershed Coalition,Alapaha River at Naylor Park Beach,6564,30.9254,-83.0385,42.410000,100
46309,12/21/22 12:10 PM,Allatoona Creek Park Survey,Allatoona Creek - Mason Bridge,6795,34.0217,-84.7086,262.180000,33
46310,12/22/22 12:50 PM,Sierra Club Cobb Centennial Group,Rottenwood Creek,504,33.8805,-84.4513,234.420000,466

In [46]:
bacterialNew["colony_avg"] = pd.to_numeric(bacterialNew["colony_avg"], errors="coerce")
bacterialNew = bacterialNew.dropna()
bacterialNew

/var/folders/l4/kpydl4ws7zd8nz43jqjhct5r0000gn/T/ipykernel_24549/1167418298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bacterialNew["colony_avg"] = pd.to_numeric(bacterialNew["colony_avg"], errors="coerce")

,EventDate,GroupName,SiteName,SiteID,site_latitude,site_longitude,site_altitude,colony_avg
29,12/15/03 10:07 AM,Knowles Landing,Whitewater Creek,2831,32.3791,-84.1845,103.932671,500.0
121,11/15/08 10:00 AM,UOWN,Orange Trail Creek,475,33.9015,-83.3797,172.007858,310.0
124,1/25/09 1:30 PM,Highlands at Wesley Chapel at Sweat Creek,Tributary of Willeo Creek at Sweat Creek,1177,34.0479,-84.4394,304.533356,0.0
125,1/25/09 4:15 PM,Leigh Lyjak,Trib of Little Noonday Creek,925,34.0258,-84.5086,297.500031,67.0
127,2/8/09 12:53 PM,Belwood,Allatoona Creek,1196,33.9692,-84.6851,282.443573,0.0
...,...,...,...,...,...,...,...,...
46296,12/19/22 2:53 PM,Friends of Peachtree Hills Park,Peachtree Hills Park,2033,33.8180,-84.3783,256.479279,300.0
46298,12/20/22 10:10 AM,Upper Chattahoochee Trout Unlimited,Ball Mill Creek,2368,33.9787,-84.3208,268.422729,133.0
46304,12/20/22 1:30 PM,WWALS_Watershed Coalition,Alapaha River at Naylor Park Beach,6564,30.9254,-83.0385,42.410000,100.0
46309,12/21/22 12:10 PM,Allatoona Creek Park Survey,Allatoona Creek - Mason Bridge,6795,34.0217,-84.7086,262.180000,33.0
46310,12/22/22 12:50 PM,Sierra Club Cobb Centennial Group,Rottenwood Creek,504,33.8805,-84.4513,234.420000,466.0

In [47]:
from sklearn.ensemble import IsolationForest

colony_data = np.array(bacterialNew["colony_avg"]).reshape(-1,1)
clf = IsolationForest(contamination=0.1)
outliers = clf.fit_predict(colony_data)
outliers =  colony_data[outliers == -1].flatten()

for i in bacterialNew.index:
    # Check if the value is an outlier
    if bacterialNew["colony_avg"][i] in outliers:
        # Drop the row with the outlier
        bacterialNew = bacterialNew.drop(i)

bacterialNew

,EventDate,GroupName,SiteName,SiteID,site_latitude,site_longitude,site_altitude,colony_avg
29,12/15/03 10:07 AM,Knowles Landing,Whitewater Creek,2831,32.3791,-84.1845,103.932671,500.0
121,11/15/08 10:00 AM,UOWN,Orange Trail Creek,475,33.9015,-83.3797,172.007858,310.0
124,1/25/09 1:30 PM,Highlands at Wesley Chapel at Sweat Creek,Tributary of Willeo Creek at Sweat Creek,1177,34.0479,-84.4394,304.533356,0.0
125,1/25/09 4:15 PM,Leigh Lyjak,Trib of Little Noonday Creek,925,34.0258,-84.5086,297.500031,67.0
127,2/8/09 12:53 PM,Belwood,Allatoona Creek,1196,33.9692,-84.6851,282.443573,0.0
...,...,...,...,...,...,...,...,...
46296,12/19/22 2:53 PM,Friends of Peachtree Hills Park,Peachtree Hills Park,2033,33.8180,-84.3783,256.479279,300.0
46298,12/20/22 10:10 AM,Upper Chattahoochee Trout Unlimited,Ball Mill Creek,2368,33.9787,-84.3208,268.422729,133.0
46304,12/20/22 1:30 PM,WWALS_Watershed Coalition,Alapaha River at Naylor Park Beach,6564,30.9254,-83.0385,42.410000,100.0
46309,12/21/22 12:10 PM,Allatoona Creek Park Survey,Allatoona Creek - Mason Bridge,6795,34.0217,-84.7086,262.180000,33.0
46310,12/22/22 12:50 PM,Sierra Club Cobb Centennial Group,Rottenwood Creek,504,33.8805,-84.4513,234.420000,466.0

In [50]:
bacterialNew["EventDate"] = pd.to_datetime(bacterialNew["EventDate"])

colonies2022Data = bacterialNew[bacterialNew["EventDate"].dt.year == 2022]
colonies2022Data

,EventDate,GroupName,SiteName,SiteID,site_latitude,site_longitude,site_altitude,colony_avg
41201,2022-01-05 10:42:00,AAAS Stream Stompers,Hollow Creek 2,954,33.3434,-81.8222,39.512642,133.0
41203,2022-01-05 11:11:00,AAAS Stream Stompers,Hollow Creek 1,953,33.3345,-81.8534,35.055412,100.0
41209,2022-01-05 14:55:00,Fernandina Beach High School,Egan's Creek Greenway 2,5203,30.6587,-81.4419,-0.410000,166.0
41215,2022-01-06 08:50:00,WWALS_Watershed Coalition,Little River @ Folsom Bridge (GA 122),7074,31.0007,-83.4568,44.710000,566.0
41233,2022-01-06 10:20:00,WWALS_Watershed Coalition,"Lakeland Boat Ramp @ GA 122, Alapaha River",4769,31.0456,-83.0440,50.000000,266.0
...,...,...,...,...,...,...,...,...
46296,2022-12-19 14:53:00,Friends of Peachtree Hills Park,Peachtree Hills Park,2033,33.8180,-84.3783,256.479279,300.0
46298,2022-12-20 10:10:00,Upper Chattahoochee Trout Unlimited,Ball Mill Creek,2368,33.9787,-84.3208,268.422729,133.0
46304,2022-12-20 13:30:00,WWALS_Watershed Coalition,Alapaha River at Naylor Park Beach,6564,30.9254,-83.0385,42.410000,100.0
46309,2022-12-21 12:10:00,Allatoona Creek Park Survey,Allatoona Creek - Mason Bridge,6795,34.0217,-84.7086,262.180000,33.0
46310,2022-12-22 12:50:00,Sierra Club Cobb Centennial Group,Rottenwood Creek,504,33.8805,-84.4513,234.420000,466.0

In [51]:
colonies2022Data.to_csv('/Users/keerthyrangan/Downloads/colonies2022Data.csv', index=False)